{:documentation "Stereo quad chorus"
 :draft-argument "Gen:Saw(110)"
 :export 
{:arguments 
{"in-1" 
{:default-value "0"
 :signal-type "audio"}}
 :export-this-tab true
 :user-interface 
{"mix" true
 "modulation depth" true
 "modulation rate" true}}
 :identifier "Chorus"
 :identity "a3w9xn7gjroo3qu"
 :patch
{:cables
{["3524crw6mo1ihnz" 0] [:fixed "4mbl89lkdh9vwcp" 0]
 ["3524crw6mo1ihnz" 1] [:fixed "2clxe3svecp39p3" 0]
 ["4mbl89lkdh9vwcp" 0] [:fixed "tel0x2x7cx0t7wb" 0]
 ["4mbl89lkdh9vwcp" 1] [:fixed "hlx2dbz6129subf" 0]
 ["4mbl89lkdh9vwcp" 2] [:fixed "e669sjoprcql6ph" 0]
 ["4mbl89lkdh9vwcp" 3] [:fixed "icnf391ux9twe3m" 0]
 ["6tbc9fq1n15scy5" 0] [:fixed "1pv7uueiitfgyf9" 0]
 ["6tbc9fq1n15scy5" 1] [:fixed "3524crw6mo1ihnz" 0]
 ["7tx6qlvmn9yckia" 0] [:fixed "ay58fb5794zio6o" 0]
 ["g8f6dzybvuqa9pg" 0] [:fixed "wts9akfnm7vkur2" 0]
 ["hlx2dbz6129subf" 1] [:fixed "ni3znypb867l2e1" 0]
 ["hlx2dbz6129subf" 2] [:fixed "3dt7dgsm4x89iwb" 0]
 ["icnf391ux9twe3m" 0] [:fixed "3lx0rn1kok24gow" 0]
 ["icnf391ux9twe3m" 2] [:fixed "rqeib0ee7rswwi0" 0]
 ["s3kan6d91lcwd55" 0] [:fixed "7tx6qlvmn9yckia" 0]
 ["s3kan6d91lcwd55" 1] [:fixed "6tbc9fq1n15scy5" 0]
 ["tel0x2x7cx0t7wb" 0] [:fixed "qs760eiqb4ydayl" 0]
 ["vzkgadesa5kja1c" 0] [:fixed "s3kan6d91lcwd55" 0]
 ["wts9akfnm7vkur2" 0] [:fixed "ier36f6padjq1ow" 0]
 ["wts9akfnm7vkur2" 1] [:fixed "3lx0rn1kok24gow" 0]
 ["wts9akfnm7vkur2" 2] [:fixed "vzkgadesa5kja1c" 0]}
 :nodes
{"1pv7uueiitfgyf9" 
{:color 3
 :inputs []
 :label "#2"
 :outputs [""]
 :parsed [:invariant "2"]
 :pos [118 -262]
 }
 "23b85fyddfsq4z0" 
{:color 3
 :inputs []
 :label "; to make the stereo effect,\nwe use partition to regroup the four\noscillators into a list of two pairs.\n\n\nWe apply `Vector:Cons` to each pair of oscillators,\nyielding a list of two vectored signals. The average of this\nis the gain-compensated stereo sum of our modulated delay lines."
 :outputs []
 :parsed [:comment "to make the stereo effect,\nwe use partition to regroup the four\noscillators into a list of two pairs.\n\n\nWe apply `Vector:Cons` to each pair of oscillators,\nyielding a list of two vectored signals. The average of this\nis the gain-compensated stereo sum of our modulated delay lines."]
 :pos [420 28]
 }
 "2clxe3svecp39p3" 
{:inputs []
 :label "[0 0.5 0.25 0.75]"
 :outputs [""]
 :parsed [:list [:float "0"] [:float "0.5"] [:float "0.25"] [:float "0.75"]]
 :pos [-229 -145]
 }
 "3524crw6mo1ihnz" 
{:ephemeral-inputs #{"set1"}
 :inputs ["func" "set1" "set..."]
 :label "Algorithm:Map($func $set...)"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [115 42]
 }
 "3dt7dgsm4x89iwb" 
{:color 2
 :inputs []
 :label "5 .o 60"
 :name "modulation depth"
 :outputs [""]
 :parsed [:widget "-m9inyj" 0.7550000000000001 {:type :dial, :skin :circular, :min [:float "5"], :max [:float "60"]}]
 :pos [-543 -41]
 }
 "3lx0rn1kok24gow" 
{:inputs []
 :label "arg"
 :outputs [""]
 :parsed "arg"
 :pos [-627 -309]
 }
 "4mbl89lkdh9vwcp" 
{:ephemeral-inputs #{"fns1" "fns2" "fns3" "fns4"}
 :inputs ["fns1" "fns2" "fns3" "fns4" "fns..."]
 :label "Function:Pipeline($fns...)"
 :outputs [""]
 :parsed [:fn "Function:Pipeline" [:tuple [:free-var "fns1"] [:free-var "fns2"] [:free-var "fns3"] [:free-var "fns4"] [:free-var "fns..."]]]
 :pos [-114 262]
 }
 "5zvdl68ac6w10l5" 
{:color 2
 :inputs []
 :label ";### Modulator pipeline ###\n\n\nEach delay line is modulated by a low frequency sine oscillator,\nscaled as per the `modulation depth` setting and offset to be unipolar."
 :outputs []
 :parsed [:comment "### Modulator pipeline ###\n\n\nEach delay line is modulated by a low frequency sine oscillator,\nscaled as per the `modulation depth` setting and offset to be unipolar."]
 :pos [-447 284]
 }
 "6tbc9fq1n15scy5" 
{:color 3
 :ephemeral-inputs #{"set1"}
 :flip-y true
 :inputs ["N" "set1" "set..."]
 :label "Algorithm:Partition($N $set...)"
 :outputs [""]
 :parsed [:fn "Algorithm:Partition" [:tuple [:free-var "N"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [281 -261]
 }
 "7tx6qlvmn9yckia" 
{:color 3
 :inputs ["func" "list"]
 :label "Apply($func $list)"
 :outputs [""]
 :parsed [:fn "Apply" [:tuple [:free-var "func"] [:free-var "list"]]]
 :pos [182 -172]
 }
 "ay58fb5794zio6o" 
{:color 3
 :inputs ["elements"]
 :label "Vector:Cons($elements)"
 :outputs [""]
 :parsed [:fn "Vector:Cons" [:tuple [:free-var "elements"]]]
 :pos [72 -172]
 }
 "bf6lwk66qi11mwg" 
{:inputs []
 :label ";# Chorus #\n\n\nThis quad chorus is built of four modulated delays\nwhose LFOs are out of phase to create a stereo effect."
 :outputs []
 :parsed [:comment "# Chorus #\n\n\nThis quad chorus is built of four modulated delays\nwhose LFOs are out of phase to create a stereo effect."]
 :pos [-65 -478]
 }
 "e669sjoprcql6ph" 
{:color 2
 :inputs ["a"]
 :label "+ 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "1"]]
 :pos [-196 67]
 }
 "g8f6dzybvuqa9pg" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [641 -272]
 }
 "hlx2dbz6129subf" 
{:color 2
 :ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [-286 143]
 }
 "icnf391ux9twe3m" 
{:cable-midpoints 
{0 [83 124]}
 :inputs ["sig" "delay-time" "buffer-size"]
 :label "Delay:Dynamic-Delay($sig $delay-time $buffer-size)"
 :outputs [""]
 :parsed [:fn "Delay:Dynamic-Delay" [:tuple [:free-var "sig"] [:free-var "delay-time"] [:free-var "buffer-size"]]]
 :pos [-146 4]
 }
 "ier36f6padjq1ow" 
{:inputs []
 :label "0 .o 1"
 :name "mix"
 :outputs [""]
 :parsed [:widget "xdhghn" 0.48 {:type :dial, :skin :circular, :min [:float "0"], :max [:float "1"]}]
 :pos [350 -431]
 }
 "ni3znypb867l2e1" 
{:color 2
 :inputs []
 :label "0.0005"
 :outputs [""]
 :parsed [:float "0.0005"]
 :pos [-543 86]
 }
 "qs760eiqb4ydayl" 
{:color 2
 :inputs []
 :label "0.01 .o 1"
 :name "modulation rate"
 :outputs [""]
 :parsed [:widget "srtlgy" 0.075 {:type :dial, :skin :circular, :min [:float "0.01"], :max [:float "1"]}]
 :pos [-543 168]
 }
 "rqeib0ee7rswwi0" 
{:inputs []
 :label "#5000"
 :outputs [""]
 :parsed [:invariant "5000"]
 :pos [-229 -78]
 }
 "s3kan6d91lcwd55" 
{:color 3
 :ephemeral-inputs #{"set1"}
 :inputs ["func" "set1" "set..."]
 :label "Algorithm:Map($func $set...)"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [373 -111]
 }
 "tel0x2x7cx0t7wb" 
{:color 2
 :inputs ["freq" "offset"]
 :label "Gen:Sin($freq $offset)"
 :outputs [""]
 :parsed [:fn "Gen:Sin" [:tuple [:free-var "freq"] [:free-var "offset"]]]
 :pos [-300 218]
 }
 "vzkgadesa5kja1c" 
{:color 3
 :ephemeral-inputs #{"numbers1"}
 :inputs ["numbers1" "numbers..."]
 :label "Average($numbers...)"
 :outputs [""]
 :parsed [:fn "Average" [:tuple [:free-var "numbers1"] [:free-var "numbers..."]]]
 :pos [506 -84]
 }
 "wts9akfnm7vkur2" 
{:cable-midpoints 
{1 [208 -1]}
 :flip-y true
 :inputs ["mix" "a" "b"]
 :label "Math:Mix($mix $a $b)"
 :outputs [""]
 :parsed [:fn "Math:Mix" [:tuple [:free-var "mix"] [:free-var "a"] [:free-var "b"]]]
 :pos [496 -366]
 }}
 :scale 0.8249498714064244
 :scroll [0 0]}}