{:documentation "Monophonic Schroeder reverb with 8 delay lines and 3 allpass filters."
 :draft-argument "0.5 * Math:Pow(1 - Gen:Phasor(0.21) #16) * Gen:Saw(55 + Math:Pow(Gen:Tri(0.15) #8) * 1000)"
 :export 
{:arguments 
{"sig" 
{:signal-type "audio"}}
 :export-this-tab true
 :user-interface 
{"decay" true
 "pre-delay" true
 "tone" true
 "wet/dry" true}}
 :identifier "Schroeder"
 :identity "411vjqc8osrp8g3"
 :patch
{:cables
{["01i70h8fvvb55t" 0] [:fixed "zlr3cocyu4kj9rk" 0]
 ["01i70h8fvvb55t" 1] [:fixed "y9dgupyxo3ld123" 0]
 ["01i70h8fvvb55t" 2] [:fixed "9zspkd7dh1l6d1i" 0]
 ["2gfh2v69fcnf1sz" 0] [:fixed "47n5122am71j9nf" 0]
 ["2gfh2v69fcnf1sz" 1] [:fixed "fq49amhdrgs2dz9" 0]
 ["2gfh2v69fcnf1sz" 2] [:fixed "p078qv92vbcd41d" 0]
 ["4o5hye4m7wkegc" 0] [:fixed "xt39lg2ao26b9dm" 0]
 ["4o5hye4m7wkegc" 1] [:fixed "01i70h8fvvb55t" 0]
 ["4o5hye4m7wkegc" 2] [:fixed "7mo32ug5ol65lka" 0]
 ["62e1q2ecrkjunfu" 0] [:fixed "q3lzd8ne6czoiul" 0]
 ["62e1q2ecrkjunfu" 1] [:fixed "4o5hye4m7wkegc" 0]
 ["62e1q2ecrkjunfu" 2] [:fixed "poaa8yqfniszbf" 0]
 ["7204k9jblshgb4b" 0] [:fixed "62e1q2ecrkjunfu" 0]
 ["7mo32ug5ol65lka" 0] [:fixed "9xjfj55ml3sjsew" 0]
 ["7mo32ug5ol65lka" 1] [:fixed "01i70h8fvvb55t" 0]
 ["8vhu2ntxdqem93r" 0] [:fixed "t6hspf34rggd619" 0]
 ["9xjfj55ml3sjsew" 0] [:fixed "sjccrmo2omka20l" 0]
 ["9xjfj55ml3sjsew" 1] [:fixed "h0m4e28y2v58tmv" 0]
 ["9xjfj55ml3sjsew" 2] [:fixed "xen1yxzkw7lvsa8" 0]
 ["dfo2nk9oi7sxm1k" 0] [:fixed "r2gmsrtv3q8jc0x" 0]
 ["h0m4e28y2v58tmv" 0] [:fixed "p7f9pruzpaenaiz" 0]
 ["nw2cxjrgul5jqmq" 0] [:fixed "7204k9jblshgb4b" 0]
 ["nw2cxjrgul5jqmq" 1] [:fixed "d09ns6w004d41rb" 0]
 ["p078qv92vbcd41d" 0] [:fixed "3n9uio6rre0lsaz" 0]
 ["p078qv92vbcd41d" 1] [:fixed "nw2cxjrgul5jqmq" 0]
 ["p078qv92vbcd41d" 2] [:fixed "r4plbiagq5wofzj" 0]
 ["poaa8yqfniszbf" 0] [:fixed "s7w9t675808c3m5" 0]
 ["poaa8yqfniszbf" 1] [:fixed "7mo32ug5ol65lka" 0]
 ["q3lzd8ne6czoiul" 2] [:fixed "dfo2nk9oi7sxm1k" 0]
 ["r2gmsrtv3q8jc0x" 0] [:fixed "r837y0ctzo20nfr" 0]
 ["r2gmsrtv3q8jc0x" 1] [:fixed "poaa8yqfniszbf" 0]
 ["r5v37ksf96mq8ol" 0] [:fixed "fq49amhdrgs2dz9" 0]
 ["r5v37ksf96mq8ol" 1] [:fixed "8vhu2ntxdqem93r" 0]
 ["r5v37ksf96mq8ol" 2] [:fixed "xz4erv59347b3j8" 0]
 ["sjccrmo2omka20l" 1] [:fixed "ucftqzprfht94h2" 0]
 ["sjccrmo2omka20l" 2] [:fixed "4m9k5w1aybgi152" 0]
 ["ucftqzprfht94h2" 0] [:fixed "fq49amhdrgs2dz9" 0]
 ["udt39aq7vwa8b1g" 0] [:fixed "2gfh2v69fcnf1sz" 0]
 ["xt39lg2ao26b9dm" 0] [:fixed "r5v37ksf96mq8ol" 0]}
 :nodes
{"01i70h8fvvb55t" 
{:inputs ["count" "iterator" "seed"]
 :label "Algorithm:Expand($count $iterator $seed)"
 :name "delay times"
 :outputs [""]
 :parsed [:fn "Algorithm:Expand" [:tuple [:free-var "count"] [:free-var "iterator"] [:free-var "seed"]]]
 :pos [-275 -405]}
 "2gfh2v69fcnf1sz" 
{:cable-midpoints 
{1 [28 269]}
 :color 4
 :inputs ["h" "x0" "x1"]
 :label "Math:Mix($h $x0 $x1)"
 :name "wet/dry mix"
 :outputs [""]
 :parsed [:fn "Math:Mix" [:tuple [:free-var "h"] [:free-var "x0"] [:free-var "x1"]]]
 :pos [235 408]}
 "3n9uio6rre0lsaz" 
{:color 4
 :inputs ["sig" "num-samples" "feedback"]
 :label "Delay:Allpass-Comb($sig $num-samples $feedback)"
 :outputs [""]
 :parsed [:fn "Delay:Allpass-Comb" [:tuple [:free-var "sig"] [:free-var "num-samples"] [:free-var "feedback"]]]
 :pos [-22 283]}
 "47n5122am71j9nf" 
{:color 3
 :inputs []
 :label "0 .o 1"
 :name "wet/dry"
 :outputs [""]
 :parsed [:widget "sdf6tu" 0.7349999999999999 {:type :dial, :skin :circular, :min [:float "0"], :max [:float "1"]}]
 :pos [60 396]}
 "4m9k5w1aybgi152" 
{:color 3
 :inputs []
 :label "0.3 .o 15"
 :name "decay"
 :outputs [""]
 :parsed [:widget "7zzf7n" 0.5249999999999999 {:type :dial, :skin :circular, :min [:float "0.3"], :max [:float "15"]}]
 :pos [-86 -491]}
 "4o5hye4m7wkegc" 
{:cable-midpoints 
{1 [257 2]}
 :color 4
 :inputs ["func" "as" "bs"]
 :label "Algorithm:Zip-With($func $as $bs)"
 :name "comb filter bank"
 :outputs [""]
 :parsed [:fn "Algorithm:Zip-With" [:tuple [:free-var "func"] [:free-var "as"] [:free-var "bs"]]]
 :pos [184 -87]}
 "62e1q2ecrkjunfu" 
{:color 4
 :inputs ["func" "as" "bs"]
 :label "Algorithm:Zip-With($func $as $bs)"
 :name "gain compensation"
 :outputs [""]
 :parsed [:fn "Algorithm:Zip-With" [:tuple [:free-var "func"] [:free-var "as"] [:free-var "bs"]]]
 :pos [359 37]}
 "7204k9jblshgb4b" 
{:color 4
 :ephemeral-inputs #{"numbers1"}
 :inputs ["numbers1" "numbers..."]
 :label "Average($numbers...)"
 :name "summation"
 :outputs [""]
 :parsed [:fn "Average" [:tuple [:free-var "numbers1"] [:free-var "numbers..."]]]
 :pos [388 190]}
 "7mo32ug5ol65lka" 
{:cable-midpoints 
{1 [232 -22]}
 :ephemeral-inputs #{"set1"}
 :inputs ["func" "set1" "set..."]
 :label "Algorithm:Map($func $set...)"
 :name "feedbacks"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [186 -275]}
 "7ulgk53payi9350" 
{:color 4
 :inputs []
 :label "; follow the signal path by clicking on\none of the golden colored nodes and pressing the arrow up and down keys"
 :outputs []
 :parsed [:comment "follow the signal path by clicking on\none of the golden colored nodes and pressing the arrow up and down keys"]
 :pos [-469 237]}
 "8vhu2ntxdqem93r" 
{:inputs ["a"]
 :label "* 0.001"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "0.001"]]
 :pos [-343 -60]}
 "9xjfj55ml3sjsew" 
{:ephemeral-inputs #{"fns1" "fns3" "fns2"}
 :flip-y true
 :inputs ["fns1" "fns3" "fns2" "fns..."]
 :label "Function:Pipeline($fns...)"
 :outputs [""]
 :parsed [:fn "Function:Pipeline" [:tuple [:free-var "fns1"] [:free-var "fns3"] [:free-var "fns2"] [:free-var "fns..."]]]
 :pos [64 -275]}
 "9zspkd7dh1l6d1i" 
{:inputs []
 :label "#1005"
 :outputs [""]
 :parsed [:invariant "1005"]
 :pos [-207 -491]}
 "d09ns6w004d41rb" 
{:color 3
 :inputs []
 :label "800 .o 16000"
 :name "tone"
 :outputs [""]
 :parsed [:widget "-qntrvx" 1 {:type :dial, :skin :circular, :min [:float "800"], :max [:float "16000"]}]
 :pos [525 164]}
 "dfo2nk9oi7sxm1k" 
{:cable-midpoints 
{}
 :inputs ["b"]
 :label "1 /"
 :outputs [""]
 :parsed [:infix [:float "1"] "/" [:free-var "b"]]
 :pos [555 -191]}
 "fq49amhdrgs2dz9" 
{:inputs []
 :label "sig = arg"
 :outputs ["sig"]
 :parsed "arg"
 :pos [-510 -150]}
 "h0m4e28y2v58tmv" 
{:inputs ["a" "b"]
 :label "Math:Pow($a $b)"
 :outputs [""]
 :parsed [:fn "Math:Pow" [:tuple [:free-var "a"] [:free-var "b"]]]
 :pos [-69 -215]}
 "h1d1pw16bkpl6oi" 
{:inputs []
 :label "; shorter comb filters have stronger resonances due to the way feedback coefficients are computed.\n\n\nhere we compensate for their pole radii: since the gain coefs are negative, we can obtain `(1 - r)` by just adding 1.\n\n\nthe last (longest) delay line gain is used as a reference point to normalize levels."
 :outputs []
 :parsed [:comment "shorter comb filters have stronger resonances due to the way feedback coefficients are computed.\n\n\nhere we compensate for their pole radii: since the gain coefs are negative, we can obtain `(1 - r)` by just adding 1.\n\n\nthe last (longest) delay line gain is used as a reference point to normalize levels."]
 :pos [670 -113]}
 "nw2cxjrgul5jqmq" 
{:color 4
 :inputs ["sig" "cutoff"]
 :label "Filter:Lpf6($sig $cutoff)"
 :name "tone filter"
 :outputs [""]
 :parsed [:fn "Filter:Lpf6" [:tuple [:free-var "sig"] [:free-var "cutoff"]]]
 :pos [494 281]}
 "p078qv92vbcd41d" 
{:cable-midpoints 
{1 [50 -27]}
 :color 4
 :ephemeral-inputs #{"set1" "set2"}
 :inputs ["func" "set1" "set2" "set..."]
 :label "Algorithm:Reduce($func $set...)"
 :name "allpass cascade"
 :outputs [""]
 :parsed [:fn "Algorithm:Reduce" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set2"] [:free-var "set..."]]]
 :pos [178 283]}
 "p7f9pruzpaenaiz" 
{:inputs []
 :label "0.001"
 :outputs [""]
 :parsed [:float "0.001"]
 :pos [-207 -215]}
 "poaa8yqfniszbf" 
{:ephemeral-inputs #{"set1"}
 :inputs ["func" "set1" "set..."]
 :label "Algorithm:Map($func $set...)"
 :name "comb levels"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [381 -142]}
 "q3lzd8ne6czoiul" 
{:cable-midpoints 
{2 [28 113]}
 :ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [215 38]}
 "r2gmsrtv3q8jc0x" 
{:flip-y true
 :inputs ["N" "xs"]
 :label "Algorithm:Take-Last($N $xs)"
 :outputs ["" ""]
 :parsed [:fn "Algorithm:Take-Last" [:tuple [:free-var "N"] [:free-var "xs"]]]
 :pos [421 -286]}
 "r4plbiagq5wofzj" 
{:inputs []
 :label "[(#300 0.95) (#500 0.9) (#800 0.8)]"
 :name "delay times and feedbacks for allpasses"
 :outputs [""]
 :parsed [:list [:tuple [:invariant "300"] [:float "0.95"]] [:tuple [:invariant "500"] [:float "0.9"]] [:tuple [:invariant "800"] [:float "0.8"]]]
 :pos [-27 104]}
 "r5v37ksf96mq8ol" 
{:cable-midpoints 
{0 [49 81]}
 :color 4
 :inputs ["sig" "delay-time" "buffer-size"]
 :label "Delay:Static-Delay($sig $delay-time $buffer-size)"
 :name "predelay"
 :outputs [""]
 :parsed [:fn "Delay:Static-Delay" [:tuple [:free-var "sig"] [:free-var "delay-time"] [:free-var "buffer-size"]]]
 :pos [-222 14]}
 "r837y0ctzo20nfr" 
{:inputs []
 :label "#1"
 :outputs [""]
 :parsed [:invariant "1"]
 :pos [297 -279]}
 "s7w9t675808c3m5" 
{:inputs ["a"]
 :label "+ 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "1"]]
 :pos [284 -141]}
 "sjccrmo2omka20l" 
{:ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [-70 -275]}
 "t6hspf34rggd619" 
{:color 3
 :inputs []
 :label "20 .o 250"
 :name "pre-delay"
 :outputs [""]
 :parsed [:widget "-sf6q6g" 0.395 {:type :dial, :skin :circular, :min [:float "20"], :max [:float "250"]}]
 :pos [-506 -67]}
 "ucftqzprfht94h2" 
{:cable-midpoints 
{0 [28 -85]}
 :inputs ["sig"]
 :label "Rate-of($sig)"
 :name "sample rate"
 :outputs [""]
 :parsed [:fn "Rate-of" [:tuple [:free-var "sig"]]]
 :pos [-327 -320]}
 "udt39aq7vwa8b1g" 
{:color 4
 :inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [451 404]}
 "xen1yxzkw7lvsa8" 
{:inputs ["a"]
 :label "Neg($a)"
 :outputs [""]
 :parsed [:fn "Neg" [:tuple [:free-var "a"]]]
 :pos [14 -158]}
 "xt39lg2ao26b9dm" 
{:color 4
 :inputs ["sig" "num-samples" "feedback"]
 :label "Delay:Comb($sig $num-samples $feedback)"
 :outputs [""]
 :parsed [:fn "Delay:Comb" [:tuple [:free-var "sig"] [:free-var "num-samples"] [:free-var "feedback"]]]
 :pos [-4 -40]}
 "xz4erv59347b3j8" 
{:inputs []
 :label "#21000"
 :outputs [""]
 :parsed [:invariant "21000"]
 :pos [-347 -140]}
 "y9dgupyxo3ld123" 
{:inputs ["a"]
 :label "* #1.21"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:invariant "1.21"]]
 :pos [-350 -496]}
 "zb86980g7n83way" 
{:inputs []
 :label "; # Mono Reverb #\n\n\nThis is a classic Schroeder reverberator\nwith 8 delay lines and 3 allpass filters."
 :outputs []
 :parsed [:comment "# Mono Reverb #\n\n\nThis is a classic Schroeder reverberator\nwith 8 delay lines and 3 allpass filters."]
 :pos [404 -490]}
 "zlr3cocyu4kj9rk" 
{:inputs []
 :label "#8"
 :outputs [""]
 :parsed [:invariant "8"]
 :pos [-489 -463]}}
 :scale 0.9575428403149415
 :scroll [0 0]}}